pip==22.0.3
numpy
filterpy==1.4.5
json5==0.9.6
jsonlines==3.0.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
jupyter-client==7.0.3
jupyter-core==4.8.1
jupyter-server==1.11.0
jupyterlab==3.1.13
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.1
jupyterlab-widgets==1.0.2
lap==0.4.0
matplotlib==3.3.4
motmetrics==1.2.5
natsort==7.1.1
numpy==1.19.5
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
openpyxl
pandas==1.1.5
plotly==5.11.0
pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
scikit-image==0.17.2
scikit-learn 
scipy
seaborn==0.11.2
torch==1.11.0
torchfile==0.1.0
torchmetrics==0.5.1
torchvision==0.1.6
tqdm==4.62.3
